@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    width: 98%;
    margin: auto;
    
}

/* fonts  */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
        "slnt" 0;
}

/* shared style */
.shape{
    font-size: 7rem;
    font-family: 'Miama';
                                                
}
.section-bg-color {
    background-color: #222222;
}

.title-spacing {
    margin-bottom: 10px;
}

.section-spacing {
    max-width: 1200px;
    margin: 0px auto;
}

.display {
    display: flex;
}

.center-text {
    text-align: center;
}

.title {
    width: 70%;
    color: #FFFFFF;
    font-size: 2.7rem;
}

.sub-title {
    color: rgba(255, 255, 255, 0.79);
    font-size: 0.8rem;
    font-weight: 100;
    width: 80%;

}

.center-content {
    margin: auto;
}


.btn-1 {
    background-color: #E6533C;
    font-weight: bold;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;

}

.btn-2 {
    background-color: transparent;
    border: 1px solid lightblue;
    font-weight: bold;
    color: white;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
}
.btn-2:hover{
    background-color: #E6533C;
    transition: all 1s;
    border: 1px solid #E6533C;

}


/* navbar style */
.header {
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.921), black);
    width: 100%;
    height: fit-content;
}

.img-bg {
    /* margin-right: 20%; */
    background-image: url("../images/Images 2.png");
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    margin-left: 10%;
}

.header-section {
    max-width: 1200px;
    margin: 0px auto;
}

.bar {
    display: none;
}

.header-item {
    padding: 2rem 0px;
    width: 100%;
    justify-content: space-between;
}

.header-title {
    color: rgb(254, 85, 0);
    font-size: 2rem;
}

.navbar-items {
    border: 1px solid rgba(173, 216, 230, 0.724);
    border-radius: 1.5rem;
}

.nav-item {

    padding: 10px;
    /* margin-left:20px; */
    list-style: none;
    transition: background-color 1s;
    border-radius: 1.5rem;

    /* text-decoration: none; */
}

.nav-item:active {
    background-color: rgb(254, 85, 0);

}

.nav-item:hover {
    background-color: rgb(254, 85, 0);
}

.nav-link {
    margin: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.health {
    /* background-color: red; */
    /* height: 80%; */
    gap: 20px;
    max-width: 1200px;
    margin: 3rem auto;
    align-items: center;
    /* padding: 4rem; */
    justify-content: space-between;
}

.health-title {
    font-weight: 600;
    color: white;
    font-size: 4.4rem;

}

.item-alingment {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.health-item {
    width: 50%;

}

.justifi-item {
    align-items: end;
    justify-content: center;
}

.justifi-contant {
    justify-content: center;
    align-items: start;
}

.health-container {
    width: 40%;
    flex-direction: column;
    padding: 10rem 0px;

}

.health-item {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: blue; */

}

.tutorials {
    /* margin-right: -3rem; */
    padding: 1.4rem;
    background-color: rgba(159, 155, 155, 0.318);
    /* margin: 1rem; */
    border-radius: 0.5rem;
    width: fit-content;
    align-items: center;
    gap: 10px;
}

.number {
    font-size: 2rem;
    font-weight: 500;
    color: aliceblue;
}

.play {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(255, 4, 0);
    cursor: pointer;
}

/* main section styles  */
.main-section {
    max-width: 100%;
    margin: auto;
}


/* habits in main section  */
.habit-title {
    color: #FFFFFF;
}

.habit-image {
    width: 80%;
    border-radius: 50%;
    margin: auto;
    border: 3px solid rgb(61, 62, 62);
}

.habit-items {
    display: flex;
    gap: 10%;
    margin: 5% 0px;
    justify-content: space-between;
}

.habit {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* run section  */
.run-section {
    width: calc(100%-30px);
    border-radius: 7px;
    padding: 30px;
    background-color: #222222;
    gap: 50px;
    /* margin: 30px 0px; */
    justify-content: space-between;
}

.run-item {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    width: 40%;
    justify-content: space-evenly;
}

.run-image {
    width: 100%;
    border-radius: 10px;
}

/* <!-- start exercises section --> */
.exercises-items {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1px;
    grid-template-areas:
        "container-1 container-1 container-2 container-2 container-2 container-2  container-3 container-3 "
        "container-4 container-4 container-4 container-4 container-5 container-6 container-6 container-6 ";
}


.item-1 {
    grid-area: container-1;
    background-image: linear-gradient(90deg,#06ffd14b,#06ffd14f),url("../images/exercise1.jpg");
}

.item-2 {
    grid-area: container-2;
    background-image:linear-gradient(90deg,#ff06064c,#ff060634), url("../images/exercise2.png");

}

.item-3 {
    grid-area: container-3;
    background-image:linear-gradient(90deg,#0908088b,#0a090978), url("../images/exercise3.png");

}

.item-4 {
    grid-area: container-4;
    background-image:linear-gradient(90deg,#09080896,#0a090978), url("../images/exercise4.png");

}

.item-5 {
    grid-area: container-5;
    background-image:linear-gradient(90deg,#6ffa0c47,#28f4093a) ,url("../images/exercise5.jpg");

}

.item-6 {
    grid-area: container-6;
    background-image:linear-gradient(90deg,#72b1e986,#72b1e976), url("../images/exercise6.jpg");
}

.item-7 {
    grid-area: container-7;
}

.item-8 {
    grid-area: container-8;
}

.item-9 {
    grid-area: container-9;
}

.item-10 {
    grid-area: container-10;
}

.item-11 {
    grid-area: container-11;
}

.item-12 {
    grid-area: container-12;
}


.exercise {
    color: white;
    font-size: 0.7rem;
    padding: 100px;
    font-weight: 400;


}
.trainings{
    margin-top: 7rem;
}

.exercise-title-spacing{
    margin: 2rem 0rem;
}
.position-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* BMI calculator  */
.bmi-calculator {
    margin: 5rem 0rem;

}

.bmi-container-1 {
    max-width: 450px;
    margin: 4rem auto;


}



.bmi-title {
    font-size: 2rem;
    color: #FFFFFF;
}

.table {
    width: 100%;


}

.table,
th,
td {
    border: 1px solid #ffffff0f;
    border-collapse: collapse;
    color: #FFFFFF;
    font-size: 1rem;
    padding: 10px 14px;
    text-align: start;
}

.table td {
    color: #ffffff;
    opacity: 0.5;
    font-size: 0.8rem;
    padding: 10px 14px;
    text-align: start;

}

.sub-container {
    padding: 50px 0px;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.bmi-information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "bmi-container-1 bmi-container-2"
        "bmi-container-3 bmi-container-4"
        "bmi-container-5 bmi-container-5"
    ;
    gap: 10px;
}

.claculat-bmi {
    flex-direction: column;
    gap: 20px;
}

.bmi-item-1 {
    grid-area: bmi-container-1;
}

.bmi-item-2 {
    grid-area: bmi-container-2;
}

.bmi-item-3 {
    grid-area: bmi-container-3;
}

.bmi-item-4 {
    grid-area: bmi-container-4;
}

.bmi-item-5 {
    grid-area: bmi-container-5;
    /* padding: 0px 0px; */
}

input[ type=text],
select {

    background-color: rgba(253, 253, 253, 0.159);
    padding: 15px 17px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.27);
}

.members{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1.6rem;
    width: calc(100%-2rem);
    background-color: #f8f6f620;
    border-radius: 5px;
    padding: 2rem;
}
.members .image-container div{
    width: 100%;
}
.members .image-container {
    position: relative;
}
.members .image-container div img{
    width: 100%;
    border-radius: 11px;
    height: 300px;
    /* position: relative; */

}

.members .image-container div h4,.members .image-container div p{
    color: #e2ebe9;
}


option{
    background-color:lightblue;
    color: #010601e7;
    font-size: 1.1rem;
    font-weight: bold;
}

.detales{
    position: absolute;
    bottom: 5%;
    padding: 0px 20px;
}

.detales p{
    color: white;
    opacity: 0.5;
}
.team > p {
    opacity: 0.4;
    width: 45%;
    margin: 1rem auto;
}

/*  footer section styles */

.footer-section{
    margin-top: 6rem;
    width: 100%;
    padding: 2rem 0rem;
}
.logo{
    color: #E6533C;
    font-size: 4rem;
    font-weight: 800;
}
.footer-container{
    flex-direction: row;
    gap: 0.5rem;
}

.about-believe{
    width: 80%;
    color: white;
    opacity: 0.4;
    font-weight: 300;
    line-height: 1.6rem;

}
.discriptions-container{
    width: 100%;
    justify-content: space-between;
    padding: 2rem 0rem;
}
.footer-title{
    color: white;
    font-size: 2.4rem;
}
.our-srrvices,.about-believe{
    margin-top: 2rem;
}
.our-srrvices li{
    list-style: none;
    margin: 1rem 0rem;
    opacity: 0.5;
}
.our-srrvices li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.4rem;

}
hr{
    color: white;
    opacity: 0.2;
}

.copyright{
    
    text-decoration: none;
    color: #ffffff;
    font-size: 1.7rem;
    opacity: 0.5;
    text-align: center;
    margin: 2rem 0rem;



}
.trainings{
    display: none;
}
/* trable section */
.trable{
    margin: 5rem 0rem;
    height: fit-content;
    /* background-color: rgba(242, 243, 243, 0.041); */
}
.trable > h1{
    text-align: center;
    color: white;
    font-size: 4rem;
    margin: 2rem 0rem;
}
.trable-main-container{
    border-radius: 0.5rem;
    justify-content: space-between;
    box-shadow: 0px 0px 35px rgba(255, 255, 255, 0.148);
}
.section-border{
    border-left: 1px solid rgba(243, 243, 247, 0.178);
}
.trable-container{
    margin: 1rem 0rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 2rem;
    width: 45%;
}
.natural-image{
    opacity: 0.5;
    width: 80%;
    transition: all 0.4s;
    cursor: pointer;
    border-radius: 2rem;
    position: relative;
    padding: 5%;
    margin: auto;
    

}
.welcome{
    /* color: transparent; */
    /* background-clip: text; */
    /* -webkit-background-clip: text; */
    font-size: 3rem;
    color: rgb(250, 249, 249);
    font-weight: bold;
    width: 100%;
    /* box-shadow:0px 10px 20px rgba(0, 12, 16, 0.948); */
    background: linear-gradient(90deg, rgba(8, 85, 240, 0.151),  rgba(25, 10, 237, 0.299),  rgba(25, 10, 237, 0.12));

}
.welcome-div{
    display: none;
    transition: all 1s;


}
.trable:hover .welcome-div{
    display: block;
    margin-left: 5%;
    position: absolute;


}
.trable:hover .natural-image{
    width: 95%;
    /* filter: blur(); */
    border-radius: 0px;
    opacity: 1;
    padding: 0px;
}
/* medum device/tab responsive styles  */

@media screen and (min-width:576px) and (max-width:992px){
    .health {
        flex-direction: column;
    }
    .navbar-items{
        font-size: 13px;
    }
    .health-title{
        margin: 1rem;
        padding: 1rem;
        align-items: start;
        width: 50%;
    }
    .item-alingment {
        display: flex;
        flex-direction: column;
        gap: 1.7rem;
        width: 85%;
    }
    .habit-items {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10%;
        margin: 2rem ;
        justify-content: space-between;
        grid-template-areas: 
        "habit-container-1 habit-container-2"
        "habit-container-3 habit-container-4"
        ;
    }
    .habit-item-1{
        grid-area: habit-container-1;
    }
    .habit-item-2{
        grid-area: habit-container-2;
    }
    .habit-item-3{
        grid-area: habit-container-3;
    }
    .habit-item-4{
        grid-area: habit-container-4;
    }
    .habits{
        margin-bottom: 7rem;
    }
    .run{
        margin: 2rem;
    }
    .title {
        width: 100%;
        color: #FFFFFF;
        font-size: 2.7rem;
        margin: 2rem 0rem;
    }
    .btn-width {
        width: 100%;
        margin-top: 1rem;
    }
    .trainings{
        display: none;
    }
    .sub-container{
        flex-direction: column;
        gap: 4rem;
        width: 90%;
        margin: auto;
    }
    .team{
        width: 90%;
    }
    .footer-container{
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
    .welcome{
        /* color: transparent; */
        /* background-clip: text; */
        /* -webkit-background-clip: text; */
        font-size: 1.4rem;
        color: rgb(250, 249, 249);
        font-weight: bold;
        width: 100%;
        /* box-shadow:0px 10px 20px rgba(0, 12, 16, 0.948); */
        background: linear-gradient(90deg, rgba(8, 85, 240, 0.151),  rgba(25, 10, 237, 0.299),  rgba(25, 10, 237, 0.12));
    
    }
    
}



/* small device / mobile responsive styles  */

@media screen and (max-width:576px) {
    .health {
        /* background-color: red; */
        /* gap: 20px; */
        flex-direction: column;
        /* width: 100%; */
        /* max-width: 1200px; */
        margin: 3rem auto;

        /* padding: 4rem; */
        justify-content: center;
        align-items: center;
    }

    .navbar-items {
        display: none;
    }

    .section-spacing {
        width: 100%;
        margin: 0;
    }

    .health-container {
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        gap: 20px;
    }

    .tutorials {
        /* margin-right: -3rem; */
        /* padding: 0.4rem; */
        background-color: rgba(159, 155, 155, 0.318);
        /* margin: 1rem; */
        border-radius: 0.5rem;
        width: fit-content;
        align-items: center;
        gap: 10px;
    }

    .health-item {
        display: flex;
        flex-direction: column;

    }

    .justifi-item {

        justify-content: end;
        width: 80%;
        align-items: end;
    }

    .justifi-contant {
        align-items: start;
        justify-content: center;
        width: 80%;
    }

    .img-bg {
        background-image: url("../images/Images 2.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    .bar {
        display: block;
        cursor: pointer;
    }

    .header-section {
        margin: 0px 30px;
    }

    /* main section  */
    .main-section {
        max-width: 100%;
        margin: auto;
    }

    /* haibt section  */
    .habit-items {
        display: flex;
        margin: 10% 0px;
        gap: 50px;
        justify-content: space-between;
        flex-direction: column;
    }

    /* run section  */
    .run-section {
        /* width: calc(100%); */
        flex-direction: column;
        /* margin: 0px 10px; */
    }

    .run-item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        justify-content: space-evenly;
    }

    .claculat-bmi,
    .chat {
        width: 95%;
        margin: auto;
    }

    .btn-width {
        width: 100%;
    }

    /* calculator  */

    .bmi-container-1,
    .bmi-container-2 {
        width: 100%;
    }

    .sub-container {
        width: 100%;
        flex-direction: column;
        gap: 2rem;
        /* margin: 10px; */
    }

    .bmi-information {
        /* background-color: red; */
        /* width: 0%; */
        /* display: grid; */
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "bmi-container-1 bmi-container-2"
            "bmi-container-3 bmi-container-4"
            "bmi-container-5 bmi-container-5"
        ;
        /* gap: 10px; */
    }

    .title {
        width: 100%;
        color: #FFFFFF;
        font-size: 2.3rem;
    }
    
    .sub-title {
        color: rgba(255, 255, 255, 0.79);
        font-size: 0.8rem;
        font-weight: 100;
        width: 100%;
    
    }

    input[ type=text] {
        width:calc(100% - 2rem);
        background-color: rgba(253, 253, 253, 0.159);
        padding: 15px 1rem;
        border-radius: 3px;
        color: rgba(255, 255, 255, 0.27);
    
    }
    .members{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap:1.6rem;
        width: calc(100%-2rem);
        background-color: #f8f6f620;
        border-radius: 5px;
        padding: 2rem;
    }
    .members .image-container div img{
        width: 100%;
        border-radius: 11px;
        /* height: 300px; */
        /* position: relative; */
    
    }
    .team{
        width: 96%;
        margin: auto;
    }
    .team > p {
        opacity: 0.4;
        width: 90%;
        margin: 1rem auto;
    }
    .discriptions-container,.footer-container{
        flex-direction: column;
    }
    .discriptions-container{
        width: 90%;
        margin: auto;
    }
    .item-3 {
        display: none;
    }
    .item-6{
        display: none;
    }
    .exercises-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1px;
        grid-template-areas:
            "container-1 container-2"
            "container-4 container-5";
    }
    .trainings{
        width: 100%;
        display: none;
    }

    .welcome{
        /* color: transparent; */
        /* background-clip: text; */
        /* -webkit-background-clip: text; */
        font-size: 1rem;
        color: rgb(250, 249, 249);
        font-weight: bold;
        width: 100%;
        /* box-shadow:0px 10px 20px rgba(0, 12, 16, 0.948); */
        background: linear-gradient(90deg, rgba(8, 85, 240, 0.151),  rgba(25, 10, 237, 0.299),  rgba(25, 10, 237, 0.12));
    
    }

    .trable-main-container{
        flex-direction: column;
        border-radius: 0.5rem;
        justify-content: space-between;
        box-shadow: 0px 0px 35px rgba(255, 255, 255, 0.148);
    }
    .trable-container{
        width: 80%;
        margin: auto;
    }
    .section-border{
        border: 0.1px solid rgba(243, 243, 247, 0.178);
    }
    .trable:hover .welcome-div{
        display: block;
        margin-left: 25%;
    
    
    }

}

