@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* background-color: black; */
}

body {
    background-color: black;
}

/* fonts  */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
        "slnt" 0;
}

/* shared style */
.title-spacing{
    margin-bottom: 10px;
}
.section-spacing {
    max-width: 1200px;
    margin: 0px auto ;
}

.display {
    display: flex;
}

.center-text {
    text-align: center;
}

.title {
    width: 70%;
    color: #FFFFFF;
    font-size: 2.7rem;
}

.sub-title {
    color: rgba(255, 255, 255, 0.79);
    font-size: 0.8rem;
    font-weight: 100;
    width: 80%;

}

.center-content {
    margin: auto;
}


.btn-1 {
    background-color: #E6533C;
    font-weight: bold;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1.5rem;

}

.btn-2 {
    color: white;
    font-weight: bold;
    background-color: transparent;
    padding: 0.7rem 2rem;
    border: 1px solid lightblue;
    border-radius: 1.5rem;
}


/* navbar style */
.header {
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.921), black);
    width: 100%;
    height: fit-content;
}

.img-bg {
    /* margin-right: 20%; */
    background-image: url("../images/Images 2.png");
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    margin-left: 10%;
}

.header-section {
    max-width: 1200px;
    margin: 0px auto;
}

.bar {
    display: none;
}

.header-item {
    padding: 2rem 0px;
    width: 100%;
    justify-content: space-between;
}

.header-title {
    color: rgb(254, 85, 0);
    font-size: 2rem;
}

.navbar-items {
    border: 1px solid rgba(173, 216, 230, 0.724);
    border-radius: 1.5rem;
}

.nav-item {

    padding: 10px;
    /* margin-left:20px; */
    list-style: none;
    transition: background-color 1s;
    border-radius: 1.5rem;

    /* text-decoration: none; */
}

.nav-item:active {
    background-color: rgb(254, 85, 0);

}

.nav-item:hover {
    background-color: rgb(254, 85, 0);
}

.nav-link {
    margin: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.health {
    /* background-color: red; */
    /* height: 80%; */
    gap: 20px;
    max-width: 1200px;
    margin: 3rem auto;
    align-items: center;
    /* padding: 4rem; */
    justify-content: space-between;
}

.health-title {
    font-weight: 800;
    color: white;
    font-size: 4.7rem;

}

.item-alingment {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.health-item {
    width: 50%;

}

.justifi-item {
    align-items: end;
    justify-content: center;
}

.justifi-contant {
    justify-content: center;
    align-items: start;
}

.health-container {
    width: 40%;
    flex-direction: column;
    padding: 10rem 0px;

}

.health-item {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: blue; */

}

.tutorials {
    /* margin-right: -3rem; */
    padding: 1.4rem;
    background-color: rgba(159, 155, 155, 0.318);
    /* margin: 1rem; */
    border-radius: 0.5rem;
    width: fit-content;
    align-items: center;
    gap: 10px;
}

.number {
    font-size: 2rem;
    font-weight: 500;
    color: aliceblue;
}

.play {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
}

/* main section styles  */
.main-section {
    max-width: 100%;
    margin: auto;
}

/* habits in main section  */
.habit-title {
    color: #FFFFFF;
}

.habit-image {
    width: 80%;
    border-radius: 50%;
    margin: auto;
    border: 3px solid rgb(61, 62, 62);
}

.habit-items {
    display: flex;
    gap: 10%;
    margin: 5% 0px;
    justify-content: space-between;
}

.habit {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* run section  */
.run-section {
    width: calc(100%-30px);
    border-radius: 7px;
    padding: 30px;
    background-color: #222222;
    gap: 50px;
    /* margin: 30px 0px; */
    justify-content: space-between;
}

.run-item {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    width: 40%;
    justify-content: space-evenly;
}

.run-image {
    width: 100%;
    border-radius: 10px;
}

/* <!-- start exercises section --> */
.exercises-items {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1px;
    grid-template-areas:
        "container-1 container-1 container-2 container-2 container-2 container-2  container-3 container-3 "
        "container-4 container-4 container-4 container-4 container-5 container-6 container-6 container-6 ";
}


.item-1 {
    background-color: #06FFD2;
    grid-area: container-1;
    background-image: url("../images/exercise1.jpg");
}

.item-2 {
    grid-area: container-2;
    background-image: url("../images/exercise2.png");

}

.item-3 {
    grid-area: container-3;
    background-image: url("../images/exercise3.png");

}

.item-4 {
    grid-area: container-4;
    background-image: url("../images/exercise4.png");

}

.item-5 {
    grid-area: container-5;
    background-image: url("../images/exercise5.jpg");

}

.item-6 {
    grid-area: container-6;
    background-image: url("../images/exercise6.jpg");
}

.item-7 {
    grid-area: container-7;
}

.item-8 {
    grid-area: container-8;
}

.item-9 {
    grid-area: container-9;
}

.item-10 {
    grid-area: container-10;
}

.item-11 {
    grid-area: container-11;
}

.item-12 {
    grid-area: container-12;
}

.exercise {
    padding: 100px;
}

/* BMI calculator  */
.bmi-calculator{
    margin: 5rem 0rem;

}
.bmi-container-1{
    max-width: 450px;
    margin: 4rem auto ;


}
.bmi-container-2{
    background-color: #222222;
}
.bmi-title{
    font-size: 2rem;
    color: #FFFFFF;
}
.table{
    width: 100%;
    

}
.table ,th,td{
    border:1px solid #ffffff0f;
    border-collapse: collapse;
    color: #FFFFFF;
    font-size: 1rem;
    padding: 10px 14px;
    text-align: start;
  }
  .table td{
    color: #ffffff;
    opacity: 0.5;
    font-size: 0.8rem; 
    padding: 10px 14px;
    text-align: start;

  }
  .sub-container{
    padding: 50px 0px;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }
 .bmi-information{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "bmi-container-1 bmi-container-2"
    "bmi-container-3 bmi-container-4"
    "bmi-container-5 bmi-container-5"
    ;
    gap: 10px;
  }
  .claculat-bmi{
 
    flex-direction: column;
    gap: 20px;
  }
  .bmi-item-1{
    grid-area: bmi-container-1;
  }
  .bmi-item-2{
    grid-area: bmi-container-2;
  }
  .bmi-item-3{
    grid-area: bmi-container-3;
  }
  .bmi-item-4{
    grid-area: bmi-container-4;
  }
  .bmi-item-5{
    grid-area: bmi-container-5;
  }

  input[ type=text] , select{
    background-color: rgba(253, 253, 253, 0.159);
    padding: 15px 17px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.27);
  }



@media screen and (max-width:576px) {
    .health {
        /* background-color: red; */
        /* gap: 20px; */
        flex-direction: column;
        /* width: 100%; */
        /* max-width: 1200px; */
        margin: 3rem auto;

        /* padding: 4rem; */
        justify-content: center;
        align-items: center;
    }

    .navbar-items {
        display: none;
    }
    .section-spacing{
        width: 100%;
        margin: 0;
    }
    .health-container {
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        gap: 20px;
    }

    .tutorials {
        /* margin-right: -3rem; */
        /* padding: 0.4rem; */
        background-color: rgba(159, 155, 155, 0.318);
        /* margin: 1rem; */
        border-radius: 0.5rem;
        width: fit-content;
        align-items: center;
        gap: 10px;
    }

    .health-item {
        /* height: 80%; */
        /* width: 100%; */
        display: flex;
        flex-direction: column;

    }

    .justifi-item {

        justify-content: end;
        width: 80%;
        align-items: end;
    }

    .justifi-contant {
        align-items: start;
        justify-content: center;
        width: 80%;
    }

    .img-bg {
        background-image: url("../images/Images 2.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    .bar {
        display: block;
        cursor: pointer;
    }

    .header-section {
        margin: 0px 30px;
    }

    /* main section  */
    .main-section {
        max-width: 100%;
        margin: auto;
    }

    /* haibt section  */
    .habit-items {
        display: flex;
        margin: 10% 0px;
        gap: 50px;
        justify-content: space-between;
        flex-direction: column;
    }

    /* run section  */
    .run-section {
        flex-direction: column;
        margin: 0px 10px;
    }

    .run-item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        justify-content: space-evenly;
    }

    .btn-width {
        width: 100%;
    }

    /* calculator  */
    .bmi-calculator{
        width: 100%;
    }
    .bmi-container-1{
        width: 100%;
    }
   
    .sub-container{
        width: 100%;
        flex-direction: column;
        margin: 10px;
    }
    .bmi-information{
        background-color: red;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: 
        "bmi-container-1 bmi-container-2"
        "bmi-container-3 bmi-container-4"
        "bmi-container-5 bmi-container-5"
        ;
        gap: 10px;
      }

}